@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'MyFont';
    src: local('MyFont'), url("./font/syne.ttf") format('truetype');
    font-weight: 400;
}




*{
    font-family: 'MyFont';
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1{
    color: #F1F1F1;
    font-size: 200px;
    font-style: normal;
    line-height: 70%;
    font-variation-settings: 'wght' 400;
}

h2{
    color: #121212;
    font-size: 128vw;
    font-style: normal;
    font-weight: 400;
    line-height: 70%;
}

.text_homeh4 h4{
    color: white !important;
}

h4{
    color: #121212;
    text-align: right;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 100%;
}


h3{
    color: #121212;
    font-size: 2.0833vw;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    }


p{
    color: rgba(18, 18, 18, 0.50);
    font-size: 1.125rem;
    margin-left: 0.5rem;
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
}



.scroll {
    position: absolute;
    display: block;
    font-size: 0.933rem;
    color: rgba(255,255,255,1);
    text-decoration: none;
    padding: 10px 10px 10px 40px;
    bottom: 2.5vw;
    &::before {
    display: block;
    position: absolute;
    top:-2px;
    left:0;
    width: 24px;
    height: 40px;
    border: 2px solid rgba(255,255,255,1);
    border-radius: 12px;
    content:"";
    }
    &::after {
    display: block;
    position: absolute;
    top:9px;
    left:11px;
    width: 2px;
    height: 8px;
    background: rgba(255,255,255,1);
    border-radius: 1px;
    content:"";
    animation-name: scroll;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    }
}

@keyframes scroll {
    0% { opacity: 1; height: 8px;}
    20% { opacity: 1; height: 8px;}
    30% { transform: translateY(0); opacity: 1; height: 19px;}
    40% { opacity: 1;}
    80% { transform: translateY(19px); opacity: 0; height: 0;}
    81% { transform: translateY(0); opacity: 0; height: 8px;}
    100% { opacity: 1; height: 8px;}
}


.cursor,
.cursor_a {
    transition: width 0.2s ease-out, border-radius 0.2s ease-out, color 1.5s ease-out;
}

.cursor {
    color: transparent;
}

.cursor_a {
    width: 123px;
    color: white !important;
    text-align: center;
    height: 22px;
    border-radius: 4px;
    font-size: 12px !important;
    justify-content: center;
    font-weight: 400;
    line-height: 200%;
    font-variation-settings: 'wght' 400;
}
