@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    body{

        @apply overflow-x-hidden;
    }

    h1 {
        @apply text-[#F1F1F1] leading-[70%] not-italic text-[4rem] md:text-[10.42vw]; 
    }
    
    h2{
        @apply text-[4rem] sm:text-[5.66vw];
    }

    h3{
        @apply text-[1.5rem] sm:text-[2.0833vw];
    }

    h4{
        @apply text-[1rem] sm:text-[1.25rem] md:text-[1.5rem];
    }

    p{
        @apply text-[0.75rem] sm:text-[1.125rem];
    }
}


@layer utilities {
    @variants responsive {
    .bg-size-100 {
        background-size: 100%;
    }
    .bg-size-145 {
        background-size: 145%;
    }
    }
}  


@font-face {
    font-family: 'MyFont';
    src: local('MyFont'), url("./font/syne.ttf") format('truetype');
    font-weight: 400;
}

body{
    background-color: red;
}

*{
    font-family: 'MyFont';
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


h1{
    font-variation-settings: 'wght' 400;
}

h2{
    color: #121212;
    font-size: 128vw;
    font-style: normal;
    font-weight: 400;
    line-height: 70%;
}

.text_homeh4 h4{
    color: white !important;
}

h4{
    color: #121212;
    text-align: right;
    font-weight: 400;
    line-height: 100%;
}


h3{
    color: #121212;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    }


p{
    color: rgba(18, 18, 18, 0.50);
    font-weight: 500;
    line-height: 100%;
}



.scroll {
    position: absolute;
    display: block;
    font-size: 0.933rem;
    color: rgba(255,255,255,1);
    text-decoration: none;
    padding: 10px 10px 10px 40px;
    &::before {
    display: block;
    position: absolute;
    top:-2px;
    left:0;
    width: 24px;
    height: 40px;
    border: 2px solid rgba(255,255,255,1);
    border-radius: 12px;
    content:"";
    }
    &::after {
    display: block;
    position: absolute;
    top:9px;
    left:11px;
    width: 2px;
    height: 8px;
    background: rgba(255,255,255,1);
    border-radius: 1px;
    content:"";
    animation-name: scroll;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    }
}

@keyframes scroll {
    0% { opacity: 1; height: 8px;}
    20% { opacity: 1; height: 8px;}
    30% { transform: translateY(0); opacity: 1; height: 19px;}
    40% { opacity: 1;}
    80% { transform: translateY(19px); opacity: 0; height: 0;}
    81% { transform: translateY(0); opacity: 0; height: 8px;}
    100% { opacity: 1; height: 8px;}
}


.cursor,
.cursor_a {
    transition: width 0.2s ease-out, border-radius 0.2s ease-out, color 1.5s ease-out;
}

.cursor {
    color: transparent;
}

.cursor_a {
    width: 123px;
    color: white !important;
    text-align: center;
    height: 22px;
    border-radius: 4px;
    font-size: 12px !important;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    line-height: 190%;
    font-variation-settings: 'wght' 400;
}


/*Burger*/
:root {
    --color-black: white;
}

.hiddenn {
    visibility: hidden;
    position: absolute;
    width: 0;
    height: 0;
}

.burger {
    display: block;
    position: relative;
    width: 3rem;
    height: 3rem;
    border-radius: 3px;
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.3);
    background-color: var(--color-white);
    margin-top: -15px;
}

.burger span {
    user-select: none;
    position: absolute;
    margin: 0.0625rem auto 0.525rem -0.75rem;
    text-indent: -999em;
    top: 50%;
    left: 50%;
    margin-top: -0.0625rem;
    cursor: pointer;
}

.burger span, .burger span:before, .burger span:after {
    display: block;
    width: 1.5rem;
    height: 0.125rem;
    background-color: var(--color-black);
    transition: 0.3s;
    opacity: 1;
}

.burger span:before, .burger span:after {
    position: absolute;
    content: "";
}

.burger span:before {
    top: -0.525rem;
}

.burger span:after {
    top: 0.525rem;
}

.burger4 input:checked + span:before, .burger4 input:checked + span:after {
    top: 0px;
    margin-top: -0.5875rem;
}

.burger4 input:checked + span {
    animation: menuCloseMiddle--base 0.5s forwards;
}

.burger4 input:checked + span:before {
    animation: menuCloseMiddle--before 0.5s forwards;
}

.burger4 input:checked + span:after {
    animation: menuCloseMiddle--after 0.5s forwards;
}

@keyframes menuCloseMiddle--base {
    0% {
        background-color: rgba(255, 255, 255, 1);
    }
    80% {
        background-color: rgba(255, 255, 255, 1);
    }
    100% {
        background-color: rgba(255, 255, 255, 0);
    }
}

@keyframes menuCloseMiddle--after {
    0% {
        transform: translateY(0) rotate(0);
    }
    80% {
        transform: translateY(0.525rem) rotate(0);
    }
    100% {
        transform: translateY(0.525rem) rotate(45deg);
    }
}

@keyframes menuCloseMiddle--before {
    0% {
        transform: translateY(0) rotate(0);
    }
    80% {
        transform: translateY(0.525rem) rotate(0);
    }
    100% {
        transform: translateY(0.525rem) rotate(-45deg);
    }
}

body, html {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
}
